%h1= "Outgoing Notifications"
%p
  %a{:href => u("/purge")}= "Purge All!"

%ul
  - for m in @messages
    %li
      = (m.rendered ? "pre. ": "enq. ") + m.category + ": "
      %em
        %a{:href => u("/#{m.id}") }= m.subject




